NODE_ENV=development
PORT=1818

SOCKET=0

DB_HOST=localhost
DB_NAME=k_db
DB_PORT=3306
DB_USER=root
DB_PASS=

SECRET=46578285-fe3d-4e59-b532-7495a1649971

REDIS=1
REDISHOST=127.0.0.1
REDISPORT=6379
REDISPASSWORD=