<link rel="stylesheet" href="/assets/css/index.css">
<div class="hello-wrapper">
  <h1>Welcome to K</h1>
  <p>Open documentation <a href="https://github.com/fyrok1/k" target="k-documentation">here</a></p>
</div>